html
  head
    title Harry Dance Acadmey
    block scripts
    block style
  body
    nav#navbar 
        div#logo       
                img(src="/static/img/logo1.jpg")
                p HDA
        ul
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/') Class Info]
            li #[a(href='/contact') Contact Us]
    block content
    block foot